<app-header  headerName="Vehículos">

</app-header>

<ion-content fullscreen >
    <ion-toolbar>
        <ion-searchbar showCancelButton="always" debounce="500" (ionChange)="filterVehicles($event)" animated placeholder="Búscar placa o # interno" cancelButtonText="Cancelar"></ion-searchbar>
    
      </ion-toolbar>
     
      <div class="ion-padding">

         <div text-center>
            <ion-spinner color="secondary" *ngIf="working"></ion-spinner>
         </div>

         <div class="btn-driver">
          <ion-button expand="block" color="secondary" *ngIf="isUserLoogued()" (click)="goThirdParties()">
            AGREGAR CONDUCTORES
            <ion-icon slot="end" name="person"></ion-icon>
          </ion-button>
         </div>
          <ion-list lines="none" inset="true">
              <ion-list-header color="primary">
                <ion-label>CONDUCTOR(ES)</ion-label>
              </ion-list-header>
              <div *ngFor="let thirdPartie of thirdPartiesSelected">              
                <ion-item>
                  <ion-icon slot="start" name="contact"></ion-icon>
                  <ion-label>Conductor</ion-label>
                   <ion-note slot="end"> {{thirdPartie.NombreRazon}} {{ thirdPartie.PrimerApellido }} </ion-note>
                   <ion-button *ngIf="isUserLoogued()" (click)="_thirdParties.removeThirdParties(thirdPartie)" color="danger" fill="clear" slot="end">
                     <ion-icon name="trash" slot="end"></ion-icon> 
                   </ion-button>
                </ion-item>                  
              </div>   
              <ion-item>
                <ion-icon slot="start" name="alarm"></ion-icon>
                <ion-label>Fecha Actual</ion-label>
                <ion-note slot="end"> {{ today | date:'dd/MM/yyyy hh:mm aa'}}</ion-note>
              </ion-item>     
              </ion-list>             
             <ion-list id="skeleton" *ngIf="loading">
                <ion-list-header>
                  <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
                </ion-list-header>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-thumbnail slot="start">
                    <ion-skeleton-text></ion-skeleton-text>
                  </ion-thumbnail>
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                    <p>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
            
              </ion-list>
            


             <ng-container *ngFor="let vehicle of vehiclesFilter">

               <!-- <ng-container *ngIf="vehicle.Sugerido==1">

                <ion-list-header>
                  <ion-label> <b>Vehículo sugerido</b></ion-label>
                </ion-list-header>

                    
                <ion-list lines="none" inset="true">
                    <ion-list-header color="primary">
                        <ion-label>Vehículo</ion-label>
                      </ion-list-header>
                      <ion-item >
                        <ion-icon slot="start" name="car"></ion-icon>
                        <ion-label>Placa</ion-label>
                        <ion-note slot="end">{{vehicle.PlacaVehiculo}}</ion-note>
                      </ion-item>                      
                      <ion-item>
                        <ion-icon slot="start" name="stopwatch"></ion-icon>        
                        <ion-input [(ngModel)]="vehicle.NuevoKilometraje" type="number" clear-input placeholder="Ingrese el kilometraje"></ion-input>
                      </ion-item>
                        
                      
                      <ion-item button color="secondary" (click)="checkVehicle(vehicle)">
                          <ion-icon *ngIf="!vehicle.loading" slot="start" name="checkmark-circle"></ion-icon>
                          <ion-spinner *ngIf="vehicle.loading" slot="start"></ion-spinner>
                          SELECCIONAR
                      </ion-item>

                  </ion-list>

               </ng-container> -->

               <ng-container>                               
                    <ion-list lines="none" inset="true">
                      <ion-list-header color="primary">
                          <ion-label>Vehículo</ion-label>
                        </ion-list-header>
                        <ion-item >
                          <ion-icon slot="start" name="car"></ion-icon>
                          <ion-label>Placa</ion-label>
                          <ion-note slot="end">{{vehicle.PlacaVehiculo}}</ion-note>
                        </ion-item> 
                        <ion-item >
                          <ion-icon slot="start" name="clipboard"></ion-icon>
                          <ion-label>Número Interno</ion-label>
                          <ion-note slot="end">{{vehicle.NumeroInterno}}</ion-note>
                        </ion-item>                      
                        <ion-item>
                          <ion-icon slot="start" name="stopwatch"></ion-icon>        
                          <ion-input [(ngModel)]="vehicle.NuevoKilometraje" type="number" clear-input placeholder="Ingrese el kilometraje"></ion-input>
                        </ion-item>
                          
                        
                        <ion-item [disabled]="thirdPartiesSelected.length==0" button color="secondary" (click)="checkVehicle(vehicle)">
                          <ion-icon *ngIf="!vehicle.loading" slot="start" name="checkmark-circle"></ion-icon>
                          <ion-spinner *ngIf="vehicle.loading" slot="start"></ion-spinner>
                             {{ !vehicle.loading?'SELECCIONAR':'ESPERE...'}}
                        </ion-item>
  
                    </ion-list>
  
                 </ng-container>
             </ng-container>
      </div>
</ion-content>
