<app-header headerName="Ajustes" showBackButton="true">

</app-header>

<ion-content fullscreen class="ion-padding">
  <ion-list-header>
    <ion-label>Permitir envío de protocolo</ion-label>
  </ion-list-header>
  <ion-list  inset="true">
    <ion-item>
      <ion-label>WIFI</ion-label>
      <ion-toggle slot="end"  [(ngModel)]="wifi" (ionChange)="SetWifi()"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>Permitir red celular</ion-label>
        <ion-toggle slot="end" [(ngModel)]="mobile" (ionChange)="SetMobile()"></ion-toggle>
      </ion-item>
     
  </ion-list>
  <ion-list-header>
    <ion-label>Ajustes</ion-label>
  </ion-list-header>
  <ion-list  inset="true">
    <ion-item>
      <ion-label>Agrupar alistamiento</ion-label>
      <ion-toggle slot="end"  [(ngModel)]="groupEnlistment" (ionChange)="SetGroupEnlistment()"></ion-toggle>
    </ion-item>
    
     
  </ion-list>
  <ion-list-header>
      <ion-label>Cuenta</ion-label>
    </ion-list-header>
    <ion-list  inset="true">
        <ion-item>
          
          <ion-label>Usuario</ion-label>
          <ion-icon slot="start" name="person"></ion-icon>
         <ion-note slot="end">{{ ThirdPartie.NombreCompleto    }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-icon slot="start" name="lock"></ion-icon>
            <ion-button (click)="goChangePassword()" color="primary" fill="outline">Cambiar</ion-button>
          </ion-item>
          
        <ion-item button (click)="GoOut()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Salir</ion-label>
           
          </ion-item>
      </ion-list>
</ion-content>
