<app-header headerName="Asignados">
  
</app-header>

<ion-content fullscreen class="ion-padding">
  
  <ion-refresher slot="fixed" (ionRefresh)="GetProgramming($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!loading">


    
    <ion-list lines="none" *ngFor="let programming of programmings" inset="true">
      <ion-item class="header" lines="none" color="secondary">
        <ion-icon slot="start" name="clipboard"></ion-icon>
        <ion-label> Solicitud #{{programming.SolicitudId}}</ion-label> 
        <ion-button color="light" slot="end"(click)="goProgrammingDetail(programming)" fill="outline">
            <ion-icon  slot="start" name="eye"></ion-icon>           
            GESTIONAR 
          </ion-button>   
      </ion-item>  
      <ion-item>
        <ion-icon slot="start" name="ios-information-circle"></ion-icon>
        <ion-label>Usuario</ion-label>
         <ion-note slot="end"> {{ programming.NombreRazon}} {{ programming.PrimerApellido}}</ion-note>
      </ion-item>   
      <ion-item>
        <ion-icon slot="start" name="mail-unread"></ion-icon>
        <ion-label>Email</ion-label>
         <ion-note slot="end"> {{ programming.UsuarioEmail}}</ion-note>
      </ion-item>             
      <ion-item>
        <ion-icon slot="start" name="ios-information-circle"></ion-icon>
        <ion-label>Fecha Servicio</ion-label>
         <ion-note slot="end"> {{ programming.FechaServicio | date:'dd/MM/yyyy'}} {{ programming.HoraServicio | date : 'hh:mm'}}</ion-note>
      </ion-item>      
      <ion-item  color="primary">
        <ion-label>ORIGEN</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="ios-information-circle"></ion-icon>
        <ion-label>Ciudad</ion-label>
         <ion-note slot="end"> {{ programming.Origen}}</ion-note>
      </ion-item> 
      <ion-item>
        <ion-icon slot="start" name="ios-information-circle"></ion-icon>
        <ion-label>Dirección</ion-label>
         <ion-note slot="end"> {{ programming.OrigenDireccion}}</ion-note>
      </ion-item> 
      <ion-item  color="primary">
        <ion-label>DESTINO</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="ios-information-circle"></ion-icon>
        <ion-label>Destino</ion-label>
         <ion-note slot="end"> {{ programming.Destino}}</ion-note>
      </ion-item> 
      <ion-item>
        <ion-icon slot="start" name="ios-information-circle"></ion-icon>
        <ion-label>Dirección</ion-label>
         <ion-note slot="end"> {{ programming.DestinoDireccion}}</ion-note>
      </ion-item>                 
    </ion-list>
  </div>
  <div *ngIf="loading">
    <ion-list id="skeleton">
      <ion-list-header>
        <ion-skeleton-text animated style="width: 80px"></ion-skeleton-text>
      </ion-list-header>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
